Assets/SamplesResources/AugmentationAssets/Models/Astronaut.FBX filter=lfs diff=lfs merge=lfs -text
Assets/Editor/Migration/com.ptc.vuforia.engine-10.16.5.tgz filter=lfs diff=lfs merge=lfs -text
Packages/com.ptc.vuforia.engine-10.16.5.tgzx filter=lfs diff=lfs merge=lfs -text
Packages/com.ptc.vuforia.engine-10.16.5.tgz filter=lfs diff=lfs merge=lfs -text
